<ul
  class="ant-menu-overflow ant-menu ant-menu-root ant-menu-horizontal ant-menu-light"
  role="menu"
  tabindex="0"
  data-menu-list="true"
  style="height: 100%"
>
  <li
    class="ant-menu-overflow-item ant-menu-item ant-menu-item-only-child"
    role="menuitem"
    tabindex="-1"
    data-menu-id="rc-menu-uuid-05801-2-/homelv1"
    style="opacity: 1; order: 0"
  >
    <span class="ant-menu-title-content">首页</span>
  </li>
  <li
    class="ant-menu-overflow-item ant-menu-submenu ant-menu-submenu-horizontal ant-menu-submenu-open ant-menu-submenu-active"
    role="none"
    style="opacity: 1; order: 1"
  >
    <div
      role="menuitem"
      class="ant-menu-submenu-title"
      tabindex="-1"
      data-menu-id="rc-menu-uuid-05801-2-2lv2"
      aria-expanded="true"
      aria-haspopup="true"
      aria-controls="rc-menu-uuid-05801-2-2lv2-popup"
    >
      <span class="ant-menu-title-content">产品研究</span><i class="ant-menu-submenu-arrow"></i>
    </div>
  </li>
  <li
    class="ant-menu-overflow-item ant-menu-submenu ant-menu-submenu-horizontal"
    role="none"
    style="opacity: 1; order: 2"
  >
    <div
      role="menuitem"
      class="ant-menu-submenu-title"
      tabindex="-1"
      data-menu-id="rc-menu-uuid-05801-2-120lv2"
      aria-expanded="false"
      aria-haspopup="true"
      aria-controls="rc-menu-uuid-05801-2-120lv2-popup"
    >
      <span class="ant-menu-title-content">市场研究</span><i class="ant-menu-submenu-arrow"></i>
    </div>
  </li>
  <li
    class="ant-menu-overflow-item ant-menu-submenu ant-menu-submenu-horizontal"
    role="none"
    style="opacity: 1; order: 3"
  >
    <div
      role="menuitem"
      class="ant-menu-submenu-title"
      tabindex="-1"
      data-menu-id="rc-menu-uuid-05801-2-72lv2"
      aria-expanded="false"
      aria-haspopup="true"
      aria-controls="rc-menu-uuid-05801-2-72lv2-popup"
    >
      <span class="ant-menu-title-content">产品管理</span><i class="ant-menu-submenu-arrow"></i>
    </div>
  </li>
  <li
    class="ant-menu-overflow-item ant-menu-submenu ant-menu-submenu-horizontal"
    role="none"
    style="opacity: 1; order: 4"
  >
    <div
      role="menuitem"
      class="ant-menu-submenu-title"
      tabindex="-1"
      data-menu-id="rc-menu-uuid-05801-2-13lv2"
      aria-expanded="false"
      aria-haspopup="true"
      aria-controls="rc-menu-uuid-05801-2-13lv2-popup"
    >
      <span class="ant-menu-title-content">组合管理</span><i class="ant-menu-submenu-arrow"></i>
    </div>
  </li>
  <li
    class="ant-menu-overflow-item ant-menu-submenu ant-menu-submenu-horizontal"
    role="none"
    style="opacity: 1; order: 5"
  >
    <div
      role="menuitem"
      class="ant-menu-submenu-title"
      tabindex="-1"
      data-menu-id="rc-menu-uuid-05801-2-/stockMarketlv2"
      aria-expanded="false"
      aria-haspopup="true"
      aria-controls="rc-menu-uuid-05801-2-/stockMarketlv2-popup"
    >
      <span class="ant-menu-title-content">行情资讯</span><i class="ant-menu-submenu-arrow"></i>
    </div>
  </li>
  <li
    class="ant-menu-overflow-item ant-menu-submenu ant-menu-submenu-horizontal"
    role="none"
    style="opacity: 1; order: 6"
  >
    <div
      role="menuitem"
      class="ant-menu-submenu-title"
      tabindex="-1"
      data-menu-id="rc-menu-uuid-05801-2-10lv2"
      aria-expanded="false"
      aria-haspopup="true"
      aria-controls="rc-menu-uuid-05801-2-10lv2-popup"
    >
      <span class="ant-menu-title-content">社区</span><i class="ant-menu-submenu-arrow"></i>
    </div>
  </li>
  <li
    class="ant-menu-overflow-item ant-menu-overflow-item-rest ant-menu-submenu ant-menu-submenu-horizontal ant-menu-submenu-disabled"
    aria-hidden="true"
    role="none"
    style="
      opacity: 0;
      height: 0px;
      overflow-y: hidden;
      order: 2147483647;
      pointer-events: none;
      position: absolute;
    "
  >
    <div
      role="menuitem"
      class="ant-menu-submenu-title"
      aria-expanded="false"
      aria-haspopup="true"
      data-menu-id="rc-menu-uuid-05801-2-rc-menu-more"
      aria-controls="rc-menu-uuid-05801-2-rc-menu-more-popup"
      aria-disabled="true"
    >
      <span role="img" aria-label="ellipsis" class="anticon anticon-ellipsis"
        ><svg
          viewBox="64 64 896 896"
          focusable="false"
          data-icon="ellipsis"
          width="1em"
          height="1em"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            d="M176 511a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0z"
          ></path></svg></span
      ><i class="ant-menu-submenu-arrow"></i>
    </div>
  </li>
</ul>
